.social-link-block {
  padding-top: 150px;
  background-color: #1a1a1f;
  color: #fff;
  padding-bottom: 150px;
}
.social-link-items {
  display: flex;
  margin: 0 auto;
}
.social-link-item a {
  font-size: 20px;
  text-transform: uppercase;
  padding-right: 20px;
}
.social-link-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.social-link-item svg {
  margin-right: 5px;
  fill: #fff;
}
.social-link-item a {
	color:#fff;
  display: flex;
  align-items: center;
}
.social-link-header {
  padding-bottom: 20px;
}
.social-a span {
  position: relative;
  left: 0px;
  transition: 0.4s  ease-in-out;
}
.social-a:hover span {
  left: 10px;
 transition: 0.4s all; 
 }
@media (max-width: 750px) {
  .social-link-items {
    padding-top: 10px;
    flex-direction: column;
    margin: 0;
  }
  .social-link-wrapper {
    align-items: start;
  }
  .social-link-block {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .social-link-item {
    margin-bottom: 20px;
  }
  .social-link-item a {
    font-size: 16px;
  }
}
